html,
body {
    height: 100%;
    -webkit-text-size-adjust: none;
}

.col {
    padding: 0;
}

.fon {
    background: url("../image/fon.png") no-repeat;
    background-size: 100% 100%;
}

.navbar {
    margin-bottom: -10px;
}

.wrap-menu {
    height: auto;
}

.icon-lang {
    padding-top: 10px;
    margin-bottom: 20px;
}

.icon-lang a, .icon-lang a img {
    padding-left: 7px;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #d38a22;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a {
    text-decoration: none;
    color: white;
}


.enter{ margin: 7px}


.Ukraine {
    font-size: 14px;
    color: black;
}

.ukrFirst {
    font-size: 16px;
}

.ukrSecond {
    font-size: 20px;
    font-weight: 900;
}

.UK {
    margin-top: 20px;

}

.buttonAll {
    height: 90px;
}

.carMan {
    margin-bottom: -59px;
}

.wrap-easy, .wrap-read, .wrap-easy, .wrap-slider, .wrap-body {
    margin: 20px 15px;
}

.wrapper {
    min-height: 100%;
    height: auto;

}

.grandText {
    font-size: 30px;
    font-weight: 800;
    font-family: Roboto;
}

.close {
    font-size: 45px;
    font-weight: 100;
}

.lang-small {

    width: 16px;
    height: 12px;
    z-index: 213;

}

h1.lang-small:after {
    content: " ";
    background: url("../image/line2.png");
    width: 50px;
    height: 10px;
}

.read-data {
    font-size: 19px;
    font-family: "Roboto";
    color: rgb(213, 127, 3);
    line-height: 1.714;
    font-weight: 300;
    text-align: left;
    -moz-transform: matrix(0.73005529951138, 0, 0, 0.73005529951137, 0, 0);
    -webkit-transform: matrix(0.73005529951138, 0, 0, 0.73005529951137, 0, 0);
    -ms-transform: matrix(0.73005529951138, 0, 0, 0.73005529951137, 0, 0);

}

.read-text {
    font-size: 21px;
    padding-bottom: 20px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 1.25;
    font-weight: 500;
    text-align: left;
    -moz-transform: matrix(0.73005529951138, 0, 0, 0.73005529951137, 0, 0);
    -webkit-transform: matrix(0.73005529951138, 0, 0, 0.73005529951137, 0, 0);
    -ms-transform: matrix(0.73005529951138, 0, 0, 0.73005529951137, 0, 0);
    height: auto;
}

.read-chapter {
    font-size: 25px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 1.111;
    font-weight: 700;
    text-align: left;
    -moz-transform: matrix(0.73005529951138, 0, 0, 0.73005529951137, 0, 0);
    -webkit-transform: matrix(0.73005529951138, 0, 0, 0.73005529951137, 0, 0);
    -ms-transform: matrix(0.73005529951138, 0, 0, 0.73005529951137, 0, 0);
    height: auto;
}

.read-img, .read-write {
    display: block;
    height: auto;
    background-color: rgb(243, 245, 246);
}

.join {
    background: url("../image/join.png") no-repeat;
    height: 40px;
    width: 200px;
    background-size: 200px 40px;
}

.join:hover {
    background: url("../image/joinH.png") no-repeat;
    height: 40px;
    width: 200px;
    background-size: 200px 40px;
}

.send {
    background: url("../image/send.png") no-repeat;
    height: 40px;
    width: 200px;
    background-size: 200px 40px;
}

.send:hover {
    background: url("../image/sendH.png") no-repeat;
    height: 40px;
    width: 200px;
    background-size: 200px 40px;

}

.regist {
    background: url("../image/regist.png") no-repeat;
    height: 40px;
    width: 190px;
    background-size: 190px 40px;
}

.regist:hover {
    background: url("../image/registH.png") no-repeat;
    height: 40px;
    width: 190px;
    background-size: 190px 40px;
}

.whyWe {
    background: url("../image/whyWe.png") no-repeat;
    height: 60px;
    width: 130px;
    background-size: 130px 60px;
    margin-top: 5px;
}

.whyWe:hover {
    background: url("../image/whyWeH.png") no-repeat;
    height: 60px;
    width: 130px;
    background-size: 130px 60px;
    margin-top: 5px;
}

.howMuch {
    background: url("../image/howMuch.png") no-repeat;
    height: 60px;
    width: 150px;
    background-size: 150px 60px;
    margin-top: 5px;
}

.howMuch:hover {
    background: url("../image/howMuchH.png") no-repeat;
    height: 60px;
    width: 150px;
    background-size: 150px 60px;
    margin-top: 5px;
}



.uk-ua {
    background: url("../image/uk-ua.png") no-repeat;
    height: 5vw;
    width: 27vw;
    background-size: 100% 100%;
}
.uk-ua:hover {
    background: url("../image/uk-uaH.png") no-repeat;
    height: 5vw;
    width: 27vw;
    background-size: 100% 100%;
}

.ua-uk {
    background: url("../image/ua-uk.png") no-repeat;
    height: 5vw;
    width: 27vw;
    background-size: 100% 100%;
}

.ua-uk:hover {
    background: url("../image/ua-ukH.png") no-repeat;
    height: 5vw;
    width: 27vw;
    background-size: 100% 100%;
}



.order {
    background: url("../image/order.png") no-repeat;
    height:40px;
    width: 190px;
    background-size: 190px 40px;
}

.order:hover {
    background: url("../image/orderH.png") no-repeat;
    height: 40px;
    width: 190px;
    background-size: 190px 40px;
}

.wrap-footer {
    background: #303436;
    height: auto;
}

.footer-block {
    margin-top: 30px;
}

.footer-div {
    padding: 10px 0;
}

.footer-color {
    text-decoration: none;
    padding: 15px 0;
    color: #d6d6d6;
}

.footer-color:hover {
    color: #ffa422;
    text-decoration: none;
    padding: 15px 0;
}

.icon-blue {
    color: #3c9fd5;
    font-size: 16px;
    padding-right: 5px;
}

.footer-chapter {
    color: white;
    font-size: 18px;
    padding: 10px;
}

.number {
    margin-top: 10px;
}

.Ukraine {
}

.ukrFirst {
}

.ukrSecond {
}

.England {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(60, 159, 213);

}

.firstP-number {
    color: #ffa422;
    font-size: 20px;
}

.secondPNumber {
    color: #ffffff;
    font-size: 20px;
}

.red {
    background: red;
    border: solid 5px black;
    height: 200px;
}

.wrap-footer > .container {
    padding: 0;
}

.wrap-down {
    background: #1a1b1c;
    color: #4d5255;
    height: auto;
    padding: 12px;
}
.FTV a {display: block; width: 60px; height:60px; }

.but{ margin-bottom: 25px;  }
.butText{ font-weight: 600;}
.butLink{ color:#d57f03; }
.butLink:hover{ color: #f5bd10; text-decoration: dotted;}

@media (min-width: 1320px ){
     .uk-ua {
        background: url("../image/uk-ua.png") no-repeat;
        height:65px;
         width: 350px;
        background-size: 100% 100%;
    }

    .uk-ua:hover {
        background: url("../image/uk-uaH.png") no-repeat;
        height:65px;
        width: 350px;
        background-size: 100% 100%;
    }

    .ua-uk {
        background: url("../image/ua-uk.png") no-repeat;
        height:65px;
        width: 350px;
        background-size: 100% 100%;
    }

    .ua-uk:hover {
        background: url("../image/ua-ukH.png") no-repeat;
        height:65px;
        width: 350px;
        background-size: 100% 100%;
    }
}
@media (min-width: 500px ) and (max-width: 1000px) {
    .buttonAll {
        height: 74px;
    }




    .carText{ margin-top: 30px;}


}

@media (min-width: 550px ) and (max-width: 760px) {
    .wrap-body {
        margin-top: 50px;
        margin-left: 150px;
    }
    .carMan {
        margin-bottom: -95px; width: 80vw;margin-left: 5vw;
    }
    .carText{width: 70vw; height: 70px; margin-left: 10vw;}
}

@media (min-width: 1000px ) and (max-width: 1200px) {
    .buttonAll {
        height: 91px;
    }

    .carMan {
        margin-bottom: -43px;
    }





    .firstP-number {
        font-size: 17px;
    }

    .secondPNumber {
        font-size: 17px;
    }
}

@media (max-width: 760px) {
    .wrap-read {
        height: auto;
    }

    .icon-lang {
        padding-top: 5px;
    }

    .read-marg {
        padding: 10px;
    }

    .wrap-footer {
        background: #303436;
        padding-left: 16px;
    }

    .enter{ margin: 20px}
    .UK {
        margin-top: 10px;
    }

    .grandText {
        font-size: 25px;
    }

    .wrap-easy, .wrap-read, .wrap-easy, .wrap-slider, .wrap-body {
        margin: 15px 5px;
    }

    .uk-ua {
        background: url("../image/uk-ua.png") no-repeat;
        height:10vw;
        width: 70vw;
        background-size: 100% 100%;

    }

    .uk-ua:hover {
        background: url("../image/uk-uaH.png") no-repeat;
        height:10vw;
        width: 70vw;
        background-size: 100% 100%;
    }

    .ua-uk {
        background: url("../image/ua-uk.png") no-repeat;
        height:10vw;
        width: 70vw;
        background-size: 100% 100%;
    }

    .ua-uk:hover {
        background: url("../image/ua-ukH.png") no-repeat;
        height:10vw;
        width: 70vw;
        background-size: 100% 100%;
    }
    .carReed{ width: 90vw;}

    .none{display: none;}
}

@media (max-width: 500px) {
    .whyWe {
        height: 40px;
        width: 90px;
        background-size: 90px 40px;
        margin-top: 5px;
    }

    .howMuch {
        height: 40px;
        width: 100px;
        background-size: 100px 40px;
        margin-top: 5px;
    }
    .Ukraine, .ukrFirst {
           font-size: 12px;
       }

    .ukrSecond {
        font-size: 14px;
        font-weight: 800;
    }
    .uk-ua {
        height:12vw;
    }

    .ua-uk {
        height:12vw;
    }
  .britan{    width: 120px;
    padding-left: 20px;}
.carMan{ margin-bottom: -43px;}
}

.zagl {
    font-size: 25px;
    font-weight: 800;
}

.zagl2 {
    font-size: 20px;
    padding: 3px 3vw;
}

.login {
    position: relative;
    margin: 150px auto 0 auto;

    width: 310px;
    background: white;
    border-radius: 3px;

}

.login p {
    margin: 20px 0 0;
}

.login p.remember_me {
    float: left;
    line-height: 31px;
}

.login-help {
    margin: 10px 0;
    font-size: 12px;
    text-align: center;
}

.login-help a {
    color: #fa0600;
    text-decoration: dotted;
}

.modaText, .modaPassword {
    margin: 10px;

    height: 40px;
    border-radius: 5px;
    padding: 2px 10px;
}



