<ion-view title="Авторизация" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page8-form3" class="list ">
            <ion-list id="page8-list1" class=" ">
                <label class="item item-input " id="page8-input4">
                    <span class="input-label">Логин</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input " id="page8-input5">
                    <span class="input-label">Пароль</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <button id="page8-button1" class=" button button-stable  button-block ">Войти</button>
            <a ui-sref="page9" id="page8-button2" class=" button button-positive  button-block button-clear ">Или создать аккаунт</a>
        </form>
    </ion-content>
</ion-view>