<ion-view title="Регистрация" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page9-form4" class="list ">
            <ion-list id="page9-list2" class=" ">
                <label class="item item-input " id="page9-input7">
                    <span class="input-label">Логин(Email)</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input " id="page9-input8">
                    <span class="input-label">Пароль</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page9-input6">
                    <span class="input-label">Имя</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page9-input9">
                    <span class="input-label">Фамилия</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page9-input15">
                    <span class="input-label">Телефон</span>
                    <input type="tel" placeholder="">
                </label>
            </ion-list>
            <button id="page9-button3" class=" button button-stable  button-block ">Создать аккаунт</button>
        </form>
    </ion-content>
</ion-view>