<ion-view title="Мои заказы" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page10-list8" class=" ">
            <ion-item class="item-divider " id="page10-list-item-divider6">Заказы:</ion-item>
            <ion-item id="page10-list-item7" class="  ">Заказ1</ion-item>
            <ion-item id="page10-list-item8" class="  ">Заказ2</ion-item>
            <ion-item id="page10-list-item9" class="  ">Заказ3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>