<ion-view title="Главная" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.UKUA" id="page11-button8" class=" button button-positive  button-block ">Заказать перевозку Англия - Украина</a>
        <a ui-sref="tabsController.UKUA" id="page11-button9" class=" button button-calm  button-block ">Заказать перевозку Украина - Англия</a>
    </ion-content>
</ion-view>