<ion-view title="Создание заказа UK-UA" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="UKUA-form7" class="list ">
            <ion-item class="item-divider " id="UKUA-list-item-divider2">Инфо получателя посылки:</ion-item>
            <label class="item item-select " id="UKUA-select2">
                <span class="input-label">Город</span>
                <select>
                    <option>city1</option>
                    <option>city2</option>
                </select>
            </label>
            <label class="item item-select " id="UKUA-select1">
                <span class="input-label">Новая почта</span>
                <select>
                    <option>np1</option>
                    <option>np2</option>
                </select>
            </label>
            <label class="item item-input " id="UKUA-input17">
                <span class="input-label">Имя</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="UKUA-input18">
                <span class="input-label">Фамилия</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="UKUA-input19">
                <span class="input-label">Телефон</span>
                <input type="tel" placeholder="+38хххххххххх">
            </label>
            <label class="item item-input " id="UKUA-input20">
                <span class="input-label">Описание</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-divider " id="UKUA-list-item-divider3">О посылке</ion-item>
            <label class="item item-input " id="UKUA-input10">
                <span class="input-label">Вес(КГ)</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input " id="UKUA-input11">
                <span class="input-label">Нужно мест</span>
                <input type="number" placeholder="">
            </label>
            <ion-checkbox>Есть новые вещи?</ion-checkbox>
            <label class="item item-input item-stacked-label " id="UKUA-input29">
                <span class="input-label">Вес(КГ) новых вещей</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input item-stacked-label " id="UKUA-input28">
                <span class="input-label">Стоимость новых вещей(£)</span>
                <input type="number" placeholder="">
            </label>
            <ion-checkbox>Есть габаритные вещи?</ion-checkbox>
            <label class="item item-input " id="UKUA-input30">
                <span class="input-label">Фото</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="UKUA-textarea2">
                <span class="input-label">Описание посылки</span><textarea placeholder=""></textarea>
            </label>
            <ion-item class="item-divider " id="UKUA-list-item-divider4">Инфо отправителя(ваше):</ion-item>
            <label class="item item-input " id="UKUA-input12">
                <span class="input-label">Имя</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="UKUA-input13">
                <span class="input-label">Фамилия</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="UKUA-input14">
                <span class="input-label">Postcode</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="UKUA-input21">
                <span class="input-label">Страна</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="UKUA-input16">
                <span class="input-label">Город</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="UKUA-input23">
                <span class="input-label">Улица</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="UKUA-input22">
                <span class="input-label">Номер дома</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="UKUA-input25">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input " id="UKUA-input24">
                <span class="input-label">Телефон</span>
                <input type="tel" placeholder="+4ххххххххххх">
            </label>
            <label class="item item-input item-stacked-label " id="UKUA-input26">
                <span class="input-label">Дата вызова курьера</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-select " id="UKUA-select4">
                <span class="input-label">Удобное время</span>
                <select>
                    <option>08:00 - 15:00</option>
                    <option>15:00 - 24:00</option>
                </select>
            </label>
            <button id="UKUA-button4" class=" button button-positive  button-block ">Создать заказ</button>
        </form>
    </ion-content>
</ion-view>