<ion-view title="Мои заказы" id="page10" class=" " ng-controller="mainCtrl">
    <ion-content padding="true" class="has-header">
        <ion-list id="page10-list8" class=" ">
            <ion-item class="item-divider " id="page10-list-item-divider6">Заказы:</ion-item>
            <ion-item ng-repeat="item in allorders" id="page10-list-item{{item.id}}" class="">{{'Заказ' + item.id }}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>

