<ion-view title="Tabs Controller" id="page1" class=" " ng-controller="mainCtrl">
    <ion-tabs class="tabs-stable tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Главная" icon="ion-ios-plus-outline" href="#/page1/page11" id="tabsController-tab4" class=" ">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab  title="Мои заказы" icon="ion-ios-list-outline" href="#/page1/page10" id="tabsController-tab5" class=" ">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>